<h1 id="cart">Cart: {{cartId}}</h1>
<form id="deleteForm">
  <p>Delete product from cart</p>
  <input
    type="text"
    name="deleteProductId"
    id="deleteProductId"
    placeholder="Product id"
  />
  <input type="submit" value="SEND" />
</form>
<div>
  <ul id="productsList">
  </ul>
</div>
<script src="/js/cart.js"></script>