<div
  class="w-full h-[500px] bg-cover bg-center bg-no-repeat flex justify-center px-10 flex-col gap-y-5"
  id="hero"
>
  <h1 class="text-5xl primary-font text-white leading-snug">Buy PC games
    <br />
    at the best price</h1>
  <h2 class="text-2xl secondary-font text-white">Easy, fast and safe</h2>
</div>
<div class="flex flex-col gap-y-10 bg-indigo-50 px-7 py-10">
  <div class="w-full flex flex-col gap-y-10 justify-center">
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Recently added</h2>
    <div id="added" class="flex w-full gap-x-5 justify-around items-center">
    </div>
  </div>
  <div class="w-full flex flex-col gap-y-10 justify-center">
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Discounts of
      the week</h2>
    <div id="discounts" class="flex w-full gap-x-5 justify-around">

    </div>
  </div>
  <div class="w-full flex flex-col gap-y-10 justify-center">
    <h2 class="primary-font text-orange-600 text-3xl font-[700]">Popular of the
      week</h2>
    <div id="populars" class="flex w-full gap-x-5 justify-around">

    </div>
  </div>
</div>
<script src="/js/home.js"></script>