<h1>Login</h1>
<form id="loginForm">
  <input type="email" name="email" id="email" placeholder="Email" />
  <input type="password" name="password" id="password" placeholder="Password" />
  <a href="http://localhost:8080/register">Doesn't have an account yet?</a>
  <input type="submit" value="Login" />
  <a href="http://localhost:8080/api/sessions/github">
  <button type="button">
    <i class="fa-brands fa-github"></i>
    Sign in with github
  </button>
</a>
</form>

<script src="/js/login.js"></script>