<h1>Profile</h1><button type="button" id="logoutButton">LOGOUT</button>
<div>
  <ul id="profile">
  </ul>
  <form id="profileForm">
    <input type="text" id="first_name" />
    <input type="text" id="last_name" />
    <input type="number" id="age" min="0" max="99" />
    <input type="submit" value="update" />
  </form>
</div>
<script src="/js/profile.js"></script>