<div
  class="bg-indigo-50 flex flex-col justify-center items-center h-screen gap-y-10 relative"
>
  <h2 class="primary-font text-5xl">Reset Password</h2>
  <form
    id="resetPasswordForm"
    class="flex flex-col justify-center items-center gap-y-5"
  >
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      class="input_form"
    />
    <input
      type="password"
      name="confirm_password"
      id="confirm_password"
      placeholder="Confirm password"
      class="input_form"
    />
    <input
      type="submit"
      value="Submit"
      class="p-2 bg-orange-600 secondary-font text-white rounded-md text-sm cursor-pointer"
    />
    <p id="messagesSection" class="text-green-500"></p>
  </form>
</div>

<script src="/js/resetPassword.js"></script>