<h1 id='product'>Producto: {{productId}}</h1>
<div id='productContainer'>
</div>
<form id='addCartForm'>
  <input type='number' id='quantity' value='1' />
  <button type='submit'>Agregar al carrito</button>
</form>
<script src='/js/product.js'></script>